.green {
  --main-color: #45ff5e;
  --main-color-light: #75d182;
  --main-color-dark: #288535;
}

.blue {
  --main-color: #45daff;
  --main-color-light: #75b4d1;
  --main-color-dark: #287785;
}

.purple {
  --main-color: #9c45ff;
  --main-color-light: #b475d1;
  --main-color-dark: #4c2885;
}

.pink {
  --main-color: #ff45f6;
  --main-color-light: #d175c2;
  --main-color-dark: #852879;
}

.red {
  --main-color: #ff4545;
  --main-color-light: #d17575;
  --main-color-dark: #852828;
}


